<mat-toolbar class="navbar bg-primary" data-bs-theme="dark">
  <a (click)="drawer.toggle()" mat-icon-button>
      <mat-icon class="text-light">menu</mat-icon>
  </a>
  <span class="example-spacer"></span>
  <span class="ps-2 text-light" >HUELLA DE CARBONO </span>
  <span class="example-spacer"></span>

  <a [matMenuTriggerFor]="menu">
    <mat-icon class="text-light">account_circle</mat-icon>
  </a>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item (click)="onLogout()">Cerrar Session</a>
</mat-menu>

<mat-drawer-container autosize >
  <mat-drawer #drawer opened="true" mode="side" position="start" class="text-bg-light">
  <mat-nav-list role="list" class="list-group">
      <mat-list-item role="listitem" class="list-group-item list-group-item-action" aria-current="true">
        <a routerLink="/dashboard" mat-button><mat-icon>dashboard</mat-icon> Dashboard</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action">
          <a routerLink="/dashboard/emisiones/fna" mat-button><mat-icon>explore</mat-icon>Fuentes de Emisiones</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action">
          <a routerLink="/dashboard/emisiones/reporte" mat-button><mat-icon>table</mat-icon>Reporte de Emisiones</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action">
          <a mat-button><mat-icon>settings</mat-icon> Ajuste</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action">
          <a mat-button><mat-icon>help</mat-icon> Ayuda</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action">
          <a mat-button><mat-icon>analytics</mat-icon> Analitica</a>
      </mat-list-item>
  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
