<div class="container mt-5 text-center">
  <div class="row  align-items-start">
    <div class="col">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      <a [routerLink]="['/dashboard/emisiones/fna/electricidad']"><h4>Generación electricidad</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/transportepropio']"><h4>Transporte propio</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/refrigerante']"><h4>Refrigerantes</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/fugas']"><h4>Fugas de SF6</h4></a>
    </div>
  </div>
  <div class="row mt-5 align-items-start">
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/consumosein']"><h4>Consumo de electricidad del SEIN (en KWh)</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/transportecasa_trabajo']"><h4>Transporte casa-trabajo</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/transporte_aere']"><h4>Transporte aéreo</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/fna/transporte_terrestre']"><h4>Transporte terrestre</h4></a>
    </div>
  </div>
</div>
