<div class="rounded-top p-3 mb-2 bg-secondary bg-gradient text-white text-center">
  FUENTE DE EMISION GENERACION DE ELECTRICIDAD
</div>
<div class="container mt-3 text-center">
  <div class="row p-2 ">
    <div class="col text-start ">
      <button [routerLink]="['/dashboard/emisiones/electricidad/lista']" class="btn btn-primary">Regresar</button>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-md-4">
      <form class="grid" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Tipo de Combustibles</legend>

          <input matInput type="text" placeholder="Factura" value="0" formControlName="id" hidden>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label class="fs-6">Nombre</mat-label>
              <input matInput type="text" formControlName="nombre">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Unidad</mat-label>
              <input matInput type="text" formControlName="unidad">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Factor</mat-label>
              <input matInput type="text" formControlName="factor">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Valor Neto</mat-label>
              <input matInput type="text" formControlName="valor_neto">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Co2</mat-label>
              <input matInput type="text" formControlName="co2">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Ch4</mat-label>
              <input matInput type="text" formControlName="ch4">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label><Nav></Nav>2o</mat-label>
              <input matInput type="text" formControlName="n2o">
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!Form.valid">Guardar</button>
        </fieldset>
      </form>
    </div>
    <div class="col-md-8">
      <mat-form-field>
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
            class="text-bg-warning"> No. </th>
            <td mat-cell *matCellDef="let element" class="text-bg-warning"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-primary"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="unidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-primary"> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
          </ng-container>

          <ng-container matColumnDef="factor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-primary"> Factor </th>
            <td mat-cell *matCellDef="let element"> {{element.factor | number:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="valor_neto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-primary"> Valor Neto </th>
            <td mat-cell *matCellDef="let element"> {{element.valor_neto | number:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="co2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-primary"> Co2 </th>
            <td mat-cell *matCellDef="let element"> {{ element.co2 | number:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="ch4">
            <th mat-header-cell *matHeaderCellDef class="text-bg-primary"> CHo </th>
            <td mat-cell *matCellDef="let element"> {{element.ch4 | number:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="n2o">
            <th mat-header-cell *matHeaderCellDef class="text-bg-primary"> C2o </th>
            <td mat-cell *matCellDef="let element"> {{element.n2o | number:'1.2-2' }} </td>
          </ng-container>

          <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef class="text-bg-primary"> Url </th>
            <td mat-cell *matCellDef="let element"> {{element.flag_activo}} </td>
          </ng-container>

          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef class="text-bg-primary"> Acción </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <a color="pointer text-warning" matTooltip="Editar"
              class="btn btn-outline-warning"
                (click)="edit(element.id)">
                <mat-icon>edit</mat-icon>
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"> No hay información "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator
                      [pageSize]="pageSize"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page of periodic elements"
                       >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

