<div class="rounded-top p-3 mb-2 bg-secondary bg-gradient text-white text-center">
  <div class="container-fluid" >Dashboard</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card border-dark mb-3 h-100">
        <div class="card-header">Análisis Anual</div>
        <div class="card-body">
          <app-line-chart></app-line-chart>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card border-dark mb-3 h-100">
        <div class="card-header">FNA</div>
        <div class="card-body">
          <app-bar-fna></app-bar-fna>
        </div>
      </div>
    </div>
  </div>
</div>
