<div>
  <mat-grid-list cols="3">
    <mat-grid-tile cols="3">
        <app-bar-chart></app-bar-chart>
    </mat-grid-tile>
    <mat-grid-tile cols="3">
      <app-line-chart></app-line-chart>
    </mat-grid-tile>
    <mat-grid-tile cols="3">
      <app-polar-area-chart></app-polar-area-chart>
    </mat-grid-tile>

    <mat-grid-tile cols="3">
      DATO 1
    </mat-grid-tile>
    <mat-grid-tile cols="3">
      DATO 2
    </mat-grid-tile>
    <mat-grid-tile cols="3">
      DATO 3
    </mat-grid-tile>

  </mat-grid-list>
</div>
