<div class="rounded-top p-3 mb-2 bg-secondary bg-gradient text-white text-center">
  <div *ngIf="editing; else contenidoAlternativo" class="container-fluid" >EDITAR</div>
  <ng-template #contenidoAlternativo>REGISTRO</ng-template>
</div>
<div class="container mt-3 text-center">
  <div class="row">
    <div class="col-md-4">
      <button [routerLink]="['/dashboard/emisiones/fna/electricidad']" class="btn btn-primary">Regresar</button>
    </div>
  </div>
  <div class="row p-2  d-flex justify-content-center">
    <div *ngIf="!editing" class="col-md-4 p-3 border">
      <h3>GENERACION DE ELECTRICIDAD</h3>
      <p></p>
      <div>
        <h3>Adjunte documento de sustento.</h3>
        <p>
          En caso de ser necesario adjunte archivo que sustente la información ingresada.
          Debe de tener en cuenta que debe ser archivo de extensión Excel y no debe pesar más de 4Mb.
        </p>
        <p>
          <a href="../../../../../assets/document/plantillas/plantilla_electricidad.xlsx">Descargar Plantilla</a>
        </p>
          <div class="mb-3">
            <div class="col p-2">
              <input class="form-control form-control-sm"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              name="file"
              type="file"
              #fileUpload
              id="formFile"
              (change)="ImportExcel($event)"
              >
            </div>
            <div class="col p-2">
              <button type="button" (click)="GuardarExcel()" class="btn btn-primary">GUARDAR</button>
            </div>
            <div *ngIf="campoVacioError">
              <div *ngFor="let mensaje of mensaje_error" class="alert alert-warning" role="alert" >
                {{ mensaje }}
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-7 p-3 offset-md-1 text-center border">

      <form class="grid" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Generación electricidad</legend>

          <input matInput type="text" placeholder="Factura" value="0" formControlName="id" hidden>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>FECHA DEL COMPROBANTE</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required formControlName="fecha_ingreso" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>N° COMPROBANTE</mat-label>
              <input matInput type="text" placeholder="N° COMPROBANTE" value="sin factura"
             formControlName="factura"
             [(ngModel)]='comprobante'
             (ngModelChange)="TextoComprobante($event)">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>TIPO DE COMBUSTIBLE</mat-label>
              <mat-select formControlName="tipo_electricidad_id">
                <mat-option *ngFor="let  tipo of tipos" [value]="tipo.id">
                  {{ tipo.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CANTIDAD</mat-label>
              <input matInput type="number" placeholder="00.00" min="01.00"
              value="01.00" step="0.01"
              formControlName="cantidad"
              (input)="onInputChange($event)">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>LOCALIZACIÓN</mat-label>
              <mat-select formControlName="area">
                <mat-option  *ngFor="let  tipo of localizacion" [value]="tipo">
                  {{tipo}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>EVIDENCIA</mat-label>
              <input matInput type="text" placeholder="Evidencia" value="sin url" formControlName="evidencia_url">
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary" *ngIf="editing; else botonalternativo" [disabled]="!Form.valid">Guardar</button>
          <ng-template #botonalternativo>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </ng-template>

        </fieldset>
      </form>

    </div>
  </div>
</div>
