<div class="fs-4 p-2 mb-2 text-black container">
  <div *ngIf="editing; else contenidoAlternativo" >
    <i class="fad fa-bolt"></i>
    <span class="px-3">Consumo de energía eléctrica</span>
  </div>
  <ng-template #contenidoAlternativo>
    <i class="fad fa-bolt"></i>
    <span class="px-3">Consumo de energía eléctrica</span>
  </ng-template>
</div>
<div class="container mt-3 text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="card action" [routerLink]="['/electricidad']">
        <div class="card-body">
          <i class="fas fa-chart-line"></i>
          <span class="px-3 fs-6">Analiza el reporte de datos</span>
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <i class="fas fa-file-upload"></i>
          <b><span class="px-3 fs-6">¿Deseas adjuntar un archivo?</span></b>
        </div>
        <div class="card-body fs-6">
          <p>En caso de ser necesario adjunta un archivo que sustente la información ingresada.
            Debe de tener en cuenta que el archivo sea PDF y no pese más de 4mb.</p>
        </div>
        <div class="card-body fs-5 mx-3 mb-3" style="border-style:dashed;">
          <input class="form-control form-control-sm"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          name="file"
          type="file"
          #fileUpload
          id="formFile"
          (change)="ImportExcel($event)"
          >
        </div>
        <div class="card-body">
          <button type="button" (click)="GuardarExcel()" class="btn bt-footloose rounded-3">Guardar Información</button>
          <p><a href="../../../../../assets/document/plantillas/plantilla_electricidad.xlsx">Descargar Plantilla</a></p>
        </div>
        <div class="card-body" *ngIf="campoVacioError">
          <div *ngFor="let mensaje of mensaje_error" class="alert alert-warning" role="alert" >
            {{ mensaje }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form class="grid" [formGroup]="Form" (ngSubmit)="onSubmit()">
            <fieldset>
              <legend>Registro Generación de Electricidad</legend>
              <input matInput type="text" placeholder="Factura" value="0" formControlName="id" hidden>
              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>FECHA DEL COMPROBANTE</mat-label>
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" required formControlName="fecha_ingreso" readonly>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>N° COMPROBANTE</mat-label>
                  <input matInput type="text" placeholder="N° COMPROBANTE" value="sin factura"
                 formControlName="factura"
                 [(ngModel)]='comprobante'
                 (ngModelChange)="TextoComprobante($event)">
                </mat-form-field>
              </div>

              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>TIPO DE COMBUSTIBLE</mat-label>
                  <mat-select formControlName="tipo_electricidad_id">
                    <mat-option *ngFor="let  tipo of tipos" [value]="tipo.id">
                      {{ tipo.nombre }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>CANTIDAD</mat-label>
                  <input matInput type="number" placeholder="00.00" min="01.00"
                  value="01.00" step="0.01"
                  formControlName="cantidad"
                  (input)="onInputChange($event)">
                </mat-form-field>
              </div>

              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>LOCALIZACIÓN</mat-label>
                  <mat-select formControlName="area">
                    <mat-option  *ngFor="let  tipo of localizacion" [value]="tipo">
                      {{tipo}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="mb-3">
                <mat-form-field class="col-12 sm:col-6">
                  <mat-label>EVIDENCIA</mat-label>
                  <input matInput type="text" placeholder="Evidencia" value="sin url" formControlName="evidencia_url">
                </mat-form-field>
              </div>

              <button type="submit" class="btn btn-primary w-100" *ngIf="editing; else botonalternativo" [disabled]="!Form.valid">Guardar</button>
              <ng-template #botonalternativo>
                <button type="submit" class="btn bt-footloose-segundo w-100">Guardar</button>
              </ng-template>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
