
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidenav" style="overflow-y: auto; max-height: 95vh;">
      <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of sidebarData" >
          <a class="sidenav-nav-link" routerLinkActive="active"
          [routerLink]="[data.routeLink]"
          [routerLinkActiveOptions]="{exact: true}">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-link-text"> {{data.label}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-10" style="overflow-y: auto; max-height: 95vh;">
      <div class="body" [ngClass]="getBodyClass()">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
