<div class="container-fluid text-center">
  <div class="row g-2">
    <div class="col-2">
      <div class="p-3">
        <a class="text-black" [routerLink]="['/fuentes-emisiones/generacion-electricidad']">
          <i class="fas fa-chevron-left"></i>
          <span class="px-3 fs-6">FUENTE DE EMISION GENERACION DE ELECTRICIDAD</span>
        </a>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3"></div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <div class="rounded py-3 bt-footloose" *ngIf="user.role == 'ADMIN' " [routerLink]="['/electricidad/tipo']">
          Tipo de Combustible
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <div class="py-3 rounded bt-footloose" (click)="openDialog()">
          Filtrar
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <div class="py-3 rounded bt-footloose" [routerLink]="['/fuentes-emisiones/generacion-electricidad']">
          Registrar
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="p-3">
        <div class="py-3 rounded bt-footloose-quinto" *ngIf="user.role == 'ADMIN' " (click)="exportToExcel()">
          Exportar Documento MINAM
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt-3 text-center">
  <div class="row pt-2">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-white"> Fecha Registro </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_ingreso}} </td>
        </ng-container>

        <ng-container matColumnDef="Factura">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-white"> Factura </th>
          <td mat-cell *matCellDef="let element"> {{element.factura}} </td>
        </ng-container>

        <ng-container matColumnDef="TipoCombustible">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-white"> Tipo Combustible </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_electricidad.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="Unidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-white"> Unidad </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_electricidad.unidad}} </td>
        </ng-container>

        <ng-container matColumnDef="Cantidad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-bg-white"> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef class="text-bg-white"> Acción </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <a class="btn btn-outline-warning" matTooltip="Editar">
              <mat-icon [routerLink]="['/dashboard/emisiones/electricidad/editar/'+ element.id]" >edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> No hay información </td>
        </tr>
      </table>

      <mat-paginator
                    [pageIndex]="pageIndex"
                    [length]="length"
                    [pageSizeOptions]="[5, 10, 25, 100]"
                     aria-label="Selecciona la pagina"
                     (page)="onPageChange($event)"
                     >
      </mat-paginator>
    </div>
  </div>
</div>

