<div class="container mt-5 text-center">
  <div class="row  align-items-start">
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/electricidad']"><h4>Generación electricidad</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/transportepropio']"><h4>Transporte propio</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/refrigerante']"><h4>Refrigerantes</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/fugas']"><h4>Fugas de SF6</h4></a>
    </div>
  </div>
  <div class="row mt-5 align-items-start">
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/consumosein']"><h4>Consumo de electricidad del SEIN (en KWh)</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/transportecasa_trabajo']"><h4>Transporte casa-trabajo</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/transporte_aere']"><h4>Transporte aéreo</h4></a>
    </div>
    <div class="col">
      <a [routerLink]="['/dashboard/emisiones/reporte/transporte_terrestre']"><h4>Transporte terrestre</h4></a>
    </div>
  </div>
</div>
