<div class="rounded-top p-3 mb-2 bg-secondary bg-gradient text-white text-center">
  <div class="container-fluid" >EDITAR</div>
</div>
<div class="container mt-3 text-center">
  <div class="row">
    <div class="col-md-4">
      <button (click)="navigateBackToUserList()" class="btn btn-primary">Regresar</button>
    </div>
  </div>
  <div class="row p-2">

    <div class="col-12 text-center border">

      <form class="grid" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>USUARIO</legend>

          <input matInput type="text" placeholder="ID" value="0" formControlName="id" hidden>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CODIGO COLABORADOR</mat-label>
              <input matInput type="number" placeholder="CODIGO COLABORADOR" value="0"
             formControlName="code">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>NOMBRE</mat-label>
              <input matInput type="text" placeholder="NOMBRE" value="NOMBRE"
              formControlName="nombre">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>APELLIDO</mat-label>
              <input matInput type="text" placeholder="APELLIDO" value="APELLIDO"
              formControlName="apellido">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CORREO</mat-label>
              <input matInput type="email" placeholder="CORREO ELECTRICIDAD"
              formControlName="email">
            </mat-form-field>
          </div>


          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>ESTADO</mat-label>
              <mat-select formControlName="isActive">
                <mat-option [value]="true">
                  ACTIVO
                </mat-option>
                <mat-option [value]="false">
                  INACTIVO
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>ROL</mat-label>
              <mat-select formControlName="role">
                <mat-option value="ADMIN">
                  ADMINISTRADOR
                </mat-option>
                <mat-option value="USER">
                  USUARIO
                </mat-option>
                <mat-option value="SUPERVISOR">
                  SUPERVIDOR
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <h2 >PERMISOS PARA MODULOS</h2>

          <ul class="list-group text-start">
            <li class="list-group-item" *ngFor="let permiso of permisosDisponibles">
              <input class="form-check-input me-1" type="checkbox"
                    value="{{ permiso.id }}"
                    id="firstCheckbox-{{ permiso.id }}"
                    [checked]="permiso.check"
                    (change)="actualizarPermisosMarcados(permiso)">
              <label class="form-check-label" for="checkbox-{{ permiso.id }}">{{ permiso.nombre }}</label>
            </li>
          </ul>

          <div class="p-3">
            <button type="submit" class="btn btn-primary" [disabled]="!Form.valid">Guardar</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>

