.navbar-footloose{
  background-color: #3e1151;
}

.active-link{
  background-color: rgba($color: #EDE3F3, $alpha: 0.5);
}

mat-drawer{
  background-color: #3D1452;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Color de fondo del footer, puedes cambiarlo según tu diseño */
  padding: 20px 0; /* Ajusta el espaciado interior según sea necesario */
  text-align: center; /* Centra el contenido del footer */
}

// .contenedor-padre {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }
