<mat-toolbar class="navbar-footloose">
  <a (click)="drawer.toggle()" mat-icon-button>
      <mat-icon class="text-light">menu</mat-icon>
  </a>
  <span class="example-spacer"></span>
  <span class="ps-2 text-light" >HUELLA DE CARBONO </span>
  <span class="example-spacer"></span>

</mat-toolbar>
<mat-drawer-container autosize >
  <mat-drawer #drawer opened="true" mode="side" position="start" class="text-bg-light">
  <mat-nav-list role="list" class="list-group">
      <mat-list-item role="listitem" class="list-group-item list-group-item-action" routerLink="/dashboard/emisiones/lista" routerLinkActive="active-link">
        <a  mat-button><mat-icon>dashboard</mat-icon> Dashboard</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action" routerLink="/dashboard/emisiones/fna" routerLinkActive="active-link">
          <a  mat-button><mat-icon>insert_drive_file</mat-icon>Fuentes de Emisiones</a>
      </mat-list-item>
      <!-- <mat-list-item role="listitem" class="list-group-item list-group-item-action" routerLink="/dashboard/emisiones/reporte" routerLinkActive="active-link">
          <a  mat-button><mat-icon>table</mat-icon>Reporte de Emisiones</a>
      </mat-list-item> -->
      <mat-list-item role="listitem" class="list-group-item list-group-item-action" routerLink="/dashboard/emisiones/usuario/lista" routerLinkActive="active-link">
          <a mat-button><mat-icon>person_pin</mat-icon > Usuarios</a>
      </mat-list-item>
      <mat-list-item role="listitem" class="list-group-item list-group-item-action" routerLinkActive="active-link">
          <a mat-button><mat-icon>help</mat-icon> Ayuda</a>
      </mat-list-item>
  </mat-nav-list>
  <mat-nav-list role="list" class="list-group">
    <mat-list-item role="listitem" class="list-group-item list-group-item-action">
      <a  mat-button (click)="onLogout()"><mat-icon>close</mat-icon> Cerrar Sesión</a>
    </mat-list-item>
</mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
