<mat-toolbar class="navbar-footloose">
  <a (click)="drawer.toggle()" mat-icon-button>
      <mat-icon class="text-light">menu</mat-icon>
  </a>
  <span class="example-spacer"></span>
  <span class="ps-2 text-light" >HUELLA DE CARBONO </span>
  <span class="example-spacer"></span>

</mat-toolbar>
<mat-drawer-container autosize >
  <mat-drawer #drawer opened="true" mode="side" position="start" class="text-bg-light">
  <mat-nav-list role="list" class="list-group">
    <ng-container *ngFor="let permiso of permisosDisponibles">
      <ng-container *ngFor="let acceso of permisosMarcados">

        <ng-container *ngIf="permiso.id == acceso.modulo_id">
          <mat-list-item  role="listitem" class="list-group-item list-group-item-action" [routerLink]="permiso.url" routerLinkActive="active-link">
            <a  mat-button><mat-icon>{{permiso.icono}}</mat-icon> {{permiso.nombre}}</a>
          </mat-list-item>
        </ng-container>

      </ng-container>
    </ng-container>


  </mat-nav-list>
  <mat-nav-list role="list" class="list-group">
    <mat-list-item role="listitem" class="list-group-item list-group-item-action">
      <a  mat-button (click)="onLogout()"><mat-icon>close</mat-icon> Cerrar Sesión</a>
    </mat-list-item>
</mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <div class="content mat-elevation-z8">
          <router-outlet></router-outlet>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
<div class="container-fluid footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>
</div>

