.navbar-footloose{
  background-color: #3e1151;
}

.active-link{
  background-color: rgba($color: #EDE3F3, $alpha: 0.5);
}

mat-drawer{
  background-color: #3D1452;
}

// .contenedor-padre {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }
