/* You can add global styles to this file, and also import other style files */
$color-primario: #f7323f;
$color-secundario: #3e1151;
$color-terciario: #0071ce;
$color-cuartiario: #ffb547;

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

th.mat-sort-header-sorted {
  color: black;
}

.btn-footloose-100{
  background-color: #3e1151;
  font-size: small;
}
