<div class="rounded-top p-3 mb-2 bg-secondary bg-gradient text-white text-center">
  <div class="container-fluid" >REGISTRO</div>
</div>
<div class="container mt-3 text-center">
  <div class="row">
    <div class="col-md-4">
      <button [routerLink]="['/dashboard/emisiones/usuario/lista']" class="btn btn-primary">Regresar</button>
    </div>
  </div>
  <div class="row p-2">

    <div class="col-12 text-center border">

      <form class="grid" [formGroup]="Form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>USUARIO</legend>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CODIGO COLABORADOR</mat-label>
              <input matInput type="text" placeholder="CODIGO COLABORADOR" value="0"
             formControlName="code">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>NOMBRE</mat-label>
              <input matInput type="text" placeholder="NOMBRE" value="NOMBRE"
              formControlName="nombre">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>APELLIDO</mat-label>
              <input matInput type="text" placeholder="APELLIDO" value="APELLIDO"
              formControlName="apellido">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CORREO</mat-label>
              <input matInput type="email" placeholder="CORREO ELECTRICIDAD"
              formControlName="email">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>CONTRASEÑA</mat-label>
              <input matInput type="password" placeholder="CONTRASEÑA"
              formControlName="password">
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>ROL</mat-label>
              <mat-select formControlName="role">
                <mat-option value="ADMIN">
                  ADMINISTRADOR
                </mat-option>
                <mat-option value="USER">
                  USUARIO
                </mat-option>
                <mat-option value="SUPERVISOR">
                  SUPERVIDOR
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="p-3">
            <button type="submit" class="btn btn-primary" [disabled]="!Form.valid">Guardar</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>


